---
layout: default
title: 
permalink: /
lang: pt_BR
---


<!-- Navigation bar -->
<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark navbar-transparent">
    <div class="container px-4">
        <a class="navbar-brand" href="#">ANDRÉ L. MARAVILHA</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#cover">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work">Experiência</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Formação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#teaching">Ensino</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contato</a>
                </li>
                <li class="nav-item">
                    <div class="d-none d-lg-inline-block mx-lg-2 text-muted vr"><span class="invisible">.</span></div>
                    <i class="text-muted bi bi-translate d-inline-block me-0 pe-0"></i>
                    {% for lang in site.languages %}
                    <a class="nav-link d-inline-block ms-1 ms-lg-0 me-0 pe-0" {% static_href %}href="{% if lang == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ lang }}{{page.url}}{% endif %}"{% endstatic_href %}>{{ site.data.languages[lang] }}</a> 
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Cover image -->
<div id="cover" class="parallax-window" data-parallax="scroll" data-position="center" data-image-src="{{ '/assets/images/cover.jpg' | relative_url }}"></div>
<div id="cover-glass"></div>


<!-- Main content -->
<main id="main" class="container">
    <div class="main-content row rounded-2 shadow-sm mx-1 pb-5">

        <!-- About me -->
        <section id="about" class="col-12">
            <div class="mx-0 px-0 mx-lg-5 px-lg-5">
                <img class="profile-picture d-block mx-auto rounded-circle shadow-sm mb-3" src="{{ '/assets/images/me.jpg' | relative_url }}">
                <h1 class="profile-name text-center">André L. Maravilha</h1>
                <h5 class="profile-title text-center">mineiro • computeiro • cientista • professor</h5>
                <h5 class="profile-social text-center mt-4 mb-5">
                    <a href="{{ site.lattes }}" target="_blank" class="mx-2"><i class="ai ai-lattes"></i></a>
                    <a href="{{ site.orcid }}" target="_blank" class="mx-2"><i class="ai ai-orcid"></i></a>
                    <a href="{{ site.linkedin }}" target="_blank" class="mx-2"><i class="bi bi-linkedin"></i></a>
                    <a href="{{ site.github }}" target="_blank" class="mx-2"><i class="bi bi-github"></i></a>
                    <a href="{{ site.instagram }}" target="_blank" class="mx-2"><i class="bi bi-instagram"></i></a>
                </h5>
                <p class="text-justify">
                    Atualmente atuo como professor no Centro Federal de Educação Tecnológica de Minas Gerais 
                    (<a href="https://www.cefetmg.br/" target="_blank">CEFET-MG</a>, Campus Divinópolis). Antes disso, 
                    obtive o título de Bacharel em Sistemas de Informação pela Universidade Federal dos Vales do 
                    Jequitinhonha e Mucuri (<a href="https://www.ufvjm.edu.br/" target="_blank">UFVJM</a>), e os títulos 
                    de Mestre e Doutor em Engenharia Elétrica pela Universidade Federal de Minas Gerais 
                    (<a href="https://www.ufmg.br/" target="_blank">UFMG</a>). Apaixonado por programação de computadores, 
                    pesquisa operacional, novas tecnologias, livros, Rock'n'Roll, e conhecer novas pessoas!
                </p>
            </div>
        </section>

        <!-- Work experience -->
        <section id="work" class="col-12 mt-4">
            <div class="mx-0 px-0 mx-lg-5 px-lg-5">
                <h4 class="text-dark mb-0">
                    <i class="bi bi-briefcase-fill me-2 d-lg-none"></i> Experiência
                </h4>
                <hr class="mt-0">
                {% assign entries = site.data.work %}
                {% for entry in entries %}
                <div class="row mb-0">
                    <div class="d-none d-lg-block col-lg-1 text-center">
                        <i class="bi bi-briefcase-fill"></i>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h5 class="mb-0">{{ entry.position }}</h5>
                    </div>
                    <div class="col-12 col-lg-2 text-start text-lg-end">
                        {{ entry.start }} - {{ entry.end }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-lg-9 offset-lg-1">
                        <p class="small text-muted mb-0">
                            {{ entry.organization }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Education -->
        <section id="education" class="col-12 mt-4">
            <div class="mx-0 px-0 mx-lg-5 px-lg-5">
                <h4 class="text-dark mb-0">
                    <i class="bi bi-mortarboard-fill me-2 d-lg-none"></i> Formação Acadêmica
                </h4>
                <hr class="mt-0">
                {% assign entries = site.data.education %}
                {% for entry in entries %}
                <div class="row mb-0">
                    <div class="d-none d-lg-block col-lg-1 text-center">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h5 class="mb-0">{{ entry.degree }}</h5>
                    </div>
                    <div class="col-12 col-lg-2 text-start text-lg-end">
                        {{ entry.start }} - {{ entry.end }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-lg-9 offset-lg-1">
                        <p class="small text-muted mb-0">{{ entry.institution }}</p>
                        {% if entry.field %}
                        <p class="small text-muted mb-0">Área: {{ entry.field }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Teaching -->
        <section id="teaching" class="col-12 mt-4">
            <div class="mx-0 px-0 mx-lg-5 px-lg-5">
                <h4 class="text-dark mb-0">
                    <i class="bi bi-chat-text-fill me-2 d-lg-none"></i> Atividades de Ensino
                </h4>
                <hr class="mt-0">
                {% assign entries = site.data.teaching %}
                {% for entry in entries %}
                <div class="row mb-0">
                    <div class="d-none d-lg-block col-lg-1 text-center">
                        <i class="bi bi-chat-text-fill"></i>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h5 class="mb-0">{{ entry.subject }}</h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-lg-9 offset-lg-1">
                        <p class="small text-muted mb-0">{{ entry.course }}</p>
                        {% if entry.description %}
                        <p class="small text-muted mb-0">{{ entry.description }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Projects -->
        <section id="projects" class="col-12 mt-4">
            <div class="mx-0 px-0 mx-lg-5 px-lg-5">
                <h4 class="text-dark mb-0">
                    <i class="bi bi-puzzle-fill me-2 d-lg-none"></i> 
                    <span class="d-lg-none">Projetos</span>
                    <span class="d-none d-lg-inline">Projetos de Pesquisa e Extensão</span>
                </h4>
                <hr class="mt-0">
                {% assign entries = site.data.projects %}
                {% for entry in entries %}
                <div class="row mb-0">
                    <div class="d-none d-lg-block col-lg-1 text-center">
                        <i class="bi bi-puzzle-fill"></i>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h5 class="mb-0">
                            {{ entry.title }} 
                            {% if entry.url %}
                            <a class="ms-2 small" href="{{ entry.url }}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="col-12 col-lg-2 text-start text-lg-end">
                        {{ entry.start }} - {{ entry.end }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-lg-9 offset-lg-1">
                        <p class="small text-muted mb-0">{{ entry.type }}</p>
                        {% if entry.description %}
                        <p class="small text-muted mb-0">{{ entry.description }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Contact -->
        <section id="contact" class="col-12 mt-4">
            <div class="mx-0 px-0 mx-lg-5 px-lg-5">
                <h4 class="text-dark mb-0">Contato</h4>
                <hr class="mt-0">
                <div class="row">

                    <div class="col-12 col-lg-5 order-lg-2 offset-lg-1">
                        
                        <div class="row mb-3">
                            <div class="col-auto col-lg-2 text-center">
                                <i class="bi bi-share-fill"></i>
                            </div>
                            <div class="col col-lg-10">
                                <h5 class="mb-0">Redes Sociais</h5>
                                <h5 class="mb-0 mt-2 contact-social">
                                    <a href="{{ site.lattes }}" target="_blank" class="me-3"><i class="ai ai-lattes"></i></a>
                                    <a href="{{ site.orcid }}" target="_blank" class="me-3"><i class="ai ai-orcid"></i></a>
                                    <a href="{{ site.linkedin }}" target="_blank" class="me-3"><i class="bi bi-linkedin"></i></a>
                                    <a href="{{ site.github }}" target="_blank" class="me-3"><i class="bi bi-github"></i></a>
                                    <a href="{{ site.instagram }}" target="_blank" class="me-3"><i class="bi bi-instagram"></i></a>
                                </h5>
                            </div>
                        </div>

                        <div class="row mb-3 mt-1">
                            <div class="col-auto col-lg-2 text-center">
                                <i class="bi bi-envelope-fill"></i>
                            </div>
                            <div class="col col-lg-10">
                                <h5 class="mb-0">E-mail</h5>
                                <p class="text-muted mb-0">andre.maravilha [at] cefetmg [dot] br</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 col-lg-6 order-lg-1">

                        <div class="row mb-3">
                            <div class="col-auto col-lg-2 text-center">
                                <i class="bi bi-geo-alt-fill"></i>
                            </div>
                            <div class="col col-lg-10">
                                <h5 class="mb-0">Endereço</h5>
                                <p class="text-muted mb-0">
                                    Centro Federal de Educação Tecnológica de Minas Gerais<br>
                                    Dept. de Informática, Gestão e Design<br>
                                    Rua Alvares de Azevedo, 400, Sala 623<br>
                                    35503-822 - Divinópolis, MG, Brasil<br>
                                    Telefone: +55 37 3229-1172
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
</main>


<!-- Fotter -->
<footer class="container">
    <div class="row mt-5">
        <div class="col-12 text-center footer">
            <p class="mb-0">André L. Maravilha ⋅ 2023</p>
            <p class="small mt-0">Tema inspirado <a href="https://codepen.io/creativetim/pen/mzVQrP" target="_blank">nesse</a> projeto.</p>
        </div>
    </div>
</footer>
