<!DOCTYPE html>
<html lang="{{ site.active_lang }}">

<head>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLWZLDGHRD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BLWZLDGHRD');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description[site.active_lang] }}" />

    {% I18n_Headers %}
    
    <link rel="icon" href="{{ '/assets/favicons/favicon.png' | relative_url }}" />

    <link rel="stylesheet" href="{{ 'bootstrap/dist/css/bootstrap.min.css' | node_module_url }}" />
    <link rel="stylesheet" href="{{ 'bootstrap-icons/font/bootstrap-icons.css' | node_module_url }}" />
    <link rel="stylesheet" href="{{ '@fortawesome/fontawesome-free/css/all.min.css' | node_module_url }}" />
    <link rel="stylesheet" href="{{ 'academicons/css/academicons.min.css' | node_module_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

    <title>André L. Maravilha {% if page.title %} :: {{page.title}} {% endif %}</title>
</head>

<body>

    {{ content }}

    <!-- JavaScript files -->
    <script src="{{ 'jquery/dist/jquery.min.js' | node_module_url }}"></script>
    <script src="{{ 'bootstrap/dist/js/bootstrap.bundle.min.js' | node_module_url }}"></script>
    <script src="{{ 'jquery-parallax.js/parallax.min.js' | node_module_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>

</html>